
{{ form_start(formLocation) }}
<button class="btn btn-secondary btn-sm" type="submit">Choisir</button>
{{ form_end(formLocation) }}



{{ form_start(formEquipment) }}
<button class="btn btn-secondary btn-sm" type="submit">Filtrer</button>
{{ form_end(formEquipment) }}
