<h1>Bonjour, {{ name }}</h1>

<h3>Nous avons bien pris en compte votre demdande d'inscription en tant que Partenaire Spa
    Nous reviendrons vers vous sous 48h pour vous notifier la validation de votre demande</h3>