<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{path ('default_home') }}">Mon Spa Privé</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="{{path ('admin_create_account') }}">Ajouter un admin</a>
                <a class="nav-link" href="{{path ('admin_accounts_validation') }}">Validation de compte & spa</a>
                <a class="nav-link" href="{{ path ('app_logout') }}">Déconnexion</a>

            </div>
        </div>
    </div>
</nav>



