{% extends 'base.html.twig' %}

{% block body %}
    <div class="d-flex justify-content-center flex-wrap">
        <h1 class="w-100 text-center">Merci votre commande à bien été pris en compte</h1>
        <p>Le Spa vous recontactera très vite pour vous plannifier votre séance. <br>
            Vous pouvez retrouver votre sur votre espace "Mon Compte"</p>
    </div>

{% endblock %}

